.App {
    margin: auto;
    width: 1000px;
}

button {
    margin: 5px;
    padding: 5px 10px;
    background-color: transparent;
    border: 1px solid #796666;;
    margin-right: 5px;
}

button:hover, 
.active {
    cursor: pointer;
    background-color: #2a2828;
    color: #fff;
}

.projectlist {
    display: flex;
    flex-wrap: wrap;
}

img {
    display: inline-block;
    padding: 5px;
    width: 300px;
    height: 200px;
}